<div class="home-content">
    <h1>PUBLIC home page</h1>
    <p>
        Bienvenue sur la page d'accueil de notre application de bibliothèque en ligne.
        <br>Explorez notre vaste collection de livres, gérez votre compte et découvrez les dernières nouveautés littéraires.
        <br>Connectez-vous pour accéder à votre espace personnel et profiter de fonctionnalités exclusives.
    </p>
    <button class="btn btn-primary mr-1" (click)="onNavigateToRegister()">Créer un compte</button>
    <button class="btn btn-secondary" (click)="onNavigateToLogin()">Se connecter</button>
</div>
